DJANGO_SECRET_KEY=replace-with-strong-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

AI_BASE_URL=https://your-vllm-endpoint.example.com/v1
AI_API_KEY=your_api_key_here
AI_MODEL=Qwen/Qwen3-32B
AI_MASTER_PROMPT=Ты - умный помощник, который всё знает и умеет отвечать на вопросы. Стиль ответа дружественный, простой, но не панибратский
